@using aspnet_core_fundamentals_v3.web;
@model aspnet_core_fundamentals_v3.web.Models.CustomerEditViewModel;

@{
}

<h1>Create</h1>

@Html.ValidationSummary()
@using (Html.BeginForm())
{
    <div>
        @Html.LabelFor(x => x.FirstName)
        @Html.EditorFor(x => x.FirstName)
        @Html.ValidationMessageFor(x => x.FirstName)
    </div>
    <div>
        @Html.LabelFor(x => x.LastName)
        @Html.EditorFor(x => x.LastName)
        @Html.ValidationMessageFor(x => x.LastName)
    </div>
    <div>
        @Html.LabelFor(x => x.PhoneNumber)
        @Html.EditorFor(x => x.PhoneNumber)
        @Html.ValidationMessageFor(x => x.PhoneNumber)
    </div>
    <div>
        @Html.LabelFor(x => x.OptInNewsletter)
        @Html.CheckBoxFor(x => x.OptInNewsletter)
        @Html.ValidationMessageFor(x => x.OptInNewsletter)
    </div>
    <div>
        @Html.LabelFor(x => x.Type)
        @Html.DropDownListFor(x => x.Type, Html.GetEnumSelectList(typeof(CustomerType)))
        @Html.ValidationMessageFor(x => x.Type)
    </div>
    <div>
        <input type="submit" value="Save" />
    </div>
}