@model aspnet_core_fundamentals_v3.web.Models.HomePageViewModel
<html xmlns="http:/www.w3.org/1999/xhtml">
<head>

</head>
<body>
    <h1>Customers </h1>
    <h1>@Model.CurrentMessage</h1>
    <table>
        @foreach (var customer in Model.Customers)
        {
            <tr>
                <td>@customer.Id</td>
                <td>@customer.FirstName</td>
                <td>@customer.LastName</td>
                <td>@customer.PhoneNumber</td>
            </tr>
        }
    </table>
</body>
</html>
