
@model HomePageViewModel
@{ 
    ViewBag.Title = "Customers";
}

    <h1>Customers </h1>
    
    <table>
        @foreach (var customer in Model.Customers)
        {
            <tr>
                <td>
                <a asp-action="Details" asp-route-id="@customer.Id">Details</a>
                </td>
               
                <td>@customer.FirstName</td>
                <td>@customer.LastName</td>
                <td>@customer.PhoneNumber</td>
            </tr>
        }
    </table>
<a asp-action="Create" asp-controller="Home">Create</a>
@section footer{
    <h4>@Model.CurrentMessage</h4>
 }
